@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap.min.css';

html {
    position: relative;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*margin-bottom: 60px; !* Margin bottom by footer height *!*/
    background: url("../img/login-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: auto;
    scrollbar-width: 2px;
}

nav {
    /*background: linear-gradient(180deg, white 50%, rgba(0,0,0,0));*/
    background-color: white;
}

main {
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0, 0, 0, 0);
}


/*// Scrollbar - Chrome (+ Android), Opera (+ Android), Safari (+ iOS)*/
::-webkit-scrollbar {
    cursor: grab;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {    cursor: grab;

    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {    cursor: grab;

    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {    cursor: grab;

    background: #e1e1e1;
}

::-webkit-scrollbar-thumb:active {    cursor: grab;

    background: #666666;
}

::-webkit-scrollbar-track {    cursor: grab;

    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {    cursor: grab;

    background: #000000;
}

::-webkit-scrollbar-track:active {    cursor: grab;

    background: #000000;
}

::-webkit-scrollbar-corner {    cursor: grab;

    background: transparent;
}

/*// Scrollbar - Firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color: gray rgba(0, 0, 0, 0);
    box-shadow: none !important;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}
