@import 'bootstrap.min.css';
@import 'font-awesome.css';

html, body {
    position: relative;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /*margin-bottom: 60px; !* Margin bottom by footer height *!*/
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: auto;
    scrollbar-width: 2px;
    overflow: hidden;

}

main {
    -webkit-overflow-scrolling: touch;
    flex: auto;
    overflow-y: scroll;
}

a {
    font-weight: 100;
    color: #ffffff;
}

a:hover {
    color: white;
    text-decoration: none;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0, 0, 0, 0);
}


/*// Scrollbar - Chrome (+ Android), Opera (+ Android), Safari (+ iOS)*/
::-webkit-scrollbar {
    cursor: grab;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    cursor: grab;

    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    cursor: grab;

    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;

    background: #e1e1e1;
}

::-webkit-scrollbar-thumb:active {
    cursor: grab;

    background: #666666;
}

::-webkit-scrollbar-track {
    cursor: grab;

    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    cursor: grab;

    background: #000000;
}

::-webkit-scrollbar-track:active {
    cursor: grab;

    background: #000000;
}

::-webkit-scrollbar-corner {
    cursor: grab;

    background: transparent;
}

/*// Scrollbar - Firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color: gray rgba(0, 0, 0, 0);
    box-shadow: none !important;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

#backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}

/* BEGIN OWN CSS CHANGES --------------------------------  */

input.rounder-borders {
    border-radius: 7px;
}

textarea.rounder-borders {
    border-radius: 9px;
}

.form-control, .form-control-lg {
    border: none;
    transition: all .5s;
}

.form-control:focus, .form-control-lg:focus {
    border-color: #ebebeb !important;
    box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, .25) !important;
    outline: none;
    background-color: lightgray;

}

.form-control:hover, .form-control-lg:hover {
    background-color: lightgray;
}

.bg-button-color {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: bold;
    transition: .5s all;
}

.bg-button-color:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.8);
}

.bg-button-color:active {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.8);
}

.bg-warm-grey {
    background: #545454;
    color: #fff;
}

.bg-transparent-black {
    background: rgba(0, 0, 0, 0.6) !important;
    color: #fff !important;
}

.more-readable {
    line-height: 1.6rem;
}

/* END OWN CSS CHANGES -------------------------------- */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: all 0.3s;
}
#mySidenav {
    width: 33vw !important;
    right: -33vw;
    background-color: #f9f9f9;
}

#mySidenav > .container {
    padding: 30% 10%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: all 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 50px;
    margin-right: 50px;
}

#main, main {
    margin-right: 0;
    transition: all .3s;
}

#navx {
    opacity: 1;
    transition: all .3s;
}

.nav-link {
    transition: all .5s;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.custom-file-label::after {
    content: "Durchsuchen";
}


.qr-container, .photo-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.qr-container:hover .overlay, .photo-container:hover .overlay {
    opacity: 1;
}

#contact-spinner, #remove-pdf-spinner, #upload-spinner, #pdfs-backdrop, #remove-account-spinner {
    display: none;
}

.profile-picture {
    height: 150px;
    width: 150px;
    object-fit: cover;
    cursor: pointer;
}

.nav-profile-picture {
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

.email,.password {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #3453;
    font-size: 23px;
    border-bottom: 4px solid black;
    outline: none;
}

#passwordCaption, .emailCaption {
    font-size: 26px;
    margin-bottom: 15px;

}

#block1 {
    margin-top: 4px;
}

#loginbttn {
    align-self: center;
    display: flex;
    width: 50%;
    box-sizing: border-box;
    margin: 0 25% 0 25% !important;
    height: 75px;
    box-shadow: none !important;
    border: none;
    background-color: darkgray;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}


.register-body {
    padding-right: 15%;
    padding-left: 15%;
}
.register-region {
    padding: 40px;
    border-radius: 10px;
    background-color: white;
}

#forgotten {
    text-align: center;
}

.register_input_div input{
    padding: 5px;
    border: none;
    background-color: #3453;
    font-size: 23px;
    border-bottom: 4px solid black;
    outline: none;
}

.register_input_div div{
   width: 200px;
}

.register_input_div span{
    width: 100%;
}

.register_already{
    color: black;
}


.register_already:hover{
    color: gray;
}

.register_caption{
    font-size: 50px;
    color: black;
    text-align: center;
}

.register_caption_div {
    align-content: center;
}
